@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Bold.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Regular.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "BallingerMono";
    src: url("/fonts/WOFF2/BallingerMono-Light.woff2") format("woff2"),
    url("/fonts/WOFF/BallingerMono-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@layer base {
    html {
        font-family: 'BallingerMono', monospace;
        background: linear-gradient(33deg, #1b181c, #2c1b2b);;
        color: #d2d7cc
    }
    input, textarea {
        background-color: #d2d7cc;
        color: #1b181c;
    }
    input.border, textarea.border {
        border: 2px solid #d2d7cc;
    }
    input:focus, textarea:focus, button:focus {
        outline: 1px #e70e4f solid;
    }
    input.border:focus, textarea.border:focus, button.border:focus {
        outline: 0;
        border: 2px solid #e70e4f;
    }
    button {
        padding-bottom: 0.2rem;
    }
    button.border {
        border: 2px solid #d2d7cc;
    }
    button.border:hover, button.active {
        background-color: #2c1b2b;
        border: 2px solid #e70e4f;
    }
    button:focus {
        outline: 1px #e70e4f solid;
    }
}

html, body {
    min-height: 100%;
}

#__next {
    height: 100%;
}

.ProseMirror {
    overflow: scroll !important;
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
}
